/* Dark Mode Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #121212; /* Dunkler Hintergrund */
    color: #e0e0e0; /* Heller Text */
}

/* Zentrierter Inhalt mit smooth transitions */
#centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

#centered-content.hidden {
    transform: translateY(-100px); /* Nach oben schieben */
    opacity: 0; /* Transparenz für smoothes Ausblenden */
}

#shelfspace-title {
    font-family: 'Roboto', sans-serif; /* Moderne Schrift */
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ffffff; /* Weiße Schrift */
}

/* Eingabefelder */
input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: #333; /* Dunkles Eingabefeld */
    color: #e0e0e0; /* Heller Text */
    border: 1px solid #444; /* Dünne, dunkle Umrandung */
    transition: all 0.5s ease-in-out; /* Transition für smoothes Ein- und Ausblenden */
    border-radius: 5px;
}

/* Buttons */
button, #backButton, #backToShelfspace {
    padding: 10px;
    font-size: 1.2rem;
    background-color: #3b3b3b; /* Dunkler Button */
    color: #e0e0e0; /* Heller Text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Weicher Übergang beim Hover */
    margin-top: 2px;


}

button:hover, #backButton:hover, #backToAccountButton:hover {
    background-color: #4a4a4a; /* Helleres Grau beim Hover */
}

/* Hidden Buttons */
button.hidden, #backButton.hidden {
    display: none;
}

#backButton, #backToAccountButton {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#backButton.show, #backToAccountButton.show {
    opacity: 1;
}

/* Ergebnisliste */
/* Begrenze die Höhe der Ergebnisliste */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 140%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    max-height: 1000px; /* Begrenze die Höhe der Liste */
    max-width: 1200px;
    overflow-y: auto; /* Scrollbar, wenn die Liste die maximale Höhe überschreitet */
}


ul.show {
    opacity: 1; /* Ergebnisse sanft einblenden */
}

li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #333; /* Dünne Umrandung */
    border-radius: 5px;
    width: 95%;
    background-color: #1e1e1e; /* Dunkler Listeneintrag */
    color: #e0e0e0;
}

img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #444; /* Umrandung für das Bild */
}

.modal {
    display: none; /* Standardmäßig versteckt */
    position: fixed; /* Fixiere die Modalansicht */
    z-index: 1000; /* Stellt sicher, dass das Modal im Vordergrund ist */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* Halbtransparenter Hintergrund */
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Ermöglicht das Scrollen im Modal, wenn der Inhalt zu groß ist */
}

.modal-content {
    background-color: #121212;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    max-height: 80%; /* Beschränkt die Höhe des Modals */
    overflow-y: auto; /* Modal-Inhalt scrollbar machen */
}

body.modal-open {
    overflow: hidden; /* Deaktiviert das Scrollen des restlichen Inhalts, wenn das Modal geöffnet ist */
}
#modalCover {
    width: 100%; /* Füllt die Breite des Containers */
    height: auto; /* Höhe passt sich proportional an */
    max-width: 200px; /* Begrenzung der maximalen Breite */
    max-height: 300px; /* Begrenzung der maximalen Höhe */
    margin-bottom: 20px; /* Abstand nach unten für etwas Luft */
    object-fit: contain; /* Sorgt dafür, dass das Bild in den Bereich passt, ohne verzerrt zu werden */
    border-radius: 5px; /* Optional: Abgerundete Ecken */
    border: 1px solid #444; /* Optional: Bildumrandung */
}

.add-button {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #4a4a4a;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-button:hover {
    background-color: #6a6a6a;
}
